#MindTheInfoBox{
  font-family: arial;
  font-size: 14px;
  background: #007439;
  color: #80f26d;
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99999;
  display: none;
  text-align: left;
}
#MindTheInfoBox:before{
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #007439;
  position: absolute;
  margin-top: 20px;
}