{
  "env": {
    "browser": 1
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "quotes": [1, "single"],
    "eqeqeq": 2,
    "strict": 1,
    "indent": [2, 2, {"SwitchCase": 1}]
  }
}
