<!doctype html>
<html ng-app="PopupApp">
  <head>
    <title>Mind The Word</title>
    <style type="text/css">
    body {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      background: white;
      font-family: sans-serif;
    }
	
    .button {
      width: 120px;
      height: 36px;
      line-height: 36px;
      text-align: center;
    }
    .button:hover {
      background-color: rgba(0,0,0,0.3);
    }
    </style>

    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="popup.js"></script>
  </head>
  <body>
    <div ng-controller="PopupController">
      <div class="button" ng-click="toggleEnabled()">{{ data.activation ? "Turn Off" : "Turn On" }}</div>
      <div class="button" ng-click="toggleWords()" ng-disabled="{{ !data.activation }}">Toggle {{ toggledOn ? "Off" : "On" }}</div>
      <div class="button" ng-click="options()">Options</div>
    </div>
  </body>
</html>

